<%include partials/header%>
<header>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Welcome to YelpCamp!</h1>
                <p>Where we find all your camping needs.</p>
                <a class="btn btn-primary" href="/new">Add new Campground</a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row text-center" style="display:flex;flex-wrap:wrap">
<%for(var i=0;i<campSites.length;++i){%>



        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="thumbnail">
                <img src="<%=campSites[i].image%>" style="width:100%!important;">
                <div class="caption">
                    <h1><%=campSites[i].title%></h1>
                </div>
            </div>
        </div>


    <%}%>
    </div>
</div>

<%include partials/footer%>