<%include partials/header%>
<header>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Welcome to YelpCamp!</h1>
                <p>Where we find all your camping needs.</p>
                <a class="btn btn-primary" href="/new">Add new Campground</a>
            </div>
        </div>
    </div>
</header>

<div class="container">
<%for(var i=0;i<campSites.length;++i){%>

    <%if(i%4==0 || i==0){%>
    <div class="row text-center" style="display:flex;flex-wrap:wrap">
    <%}%>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="img-thumbnail">
                <img src="<%=campSites[i].image%>">
                <div class="img-caption">
                    <h1><%=campSites[i].title%></h1>
                </div>
            </div>
        </div>

    <%if(i%4==0 && i!=0){%>
    </div>
    <%}%>
    <%}%>
</div>

<%include partials/footer%>