<form method="post" action="/campSite">
    <p>Add CampGround</p>
    <input type="text" name="newCampSite" required placeholder="Name of CampGround">
    <p>image url</p>
    <input type="text" name="newCampSiteURL" required placeholder="URL of CampGround">
    <button>Add</button>
</form>