<%include partials/header%>
<div class="container">
    <div class="jumbotron">
        <form method="post" action="/campSite" style="text-align: left;">

            <h1>Add CampGround</h1>
            <input style="width: 400px;" type="text" name="newCampSite" required placeholder="Name of CampGround">
            <h2>image url</h2>
            <input style="width: 400px;" type="text" name="newCampSiteURL" required placeholder="URL of CampGround">
            <button class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
<%include partials/footer%>