<!DOCTYPE html>
<html>
<head>
    <title>YelpCamp</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>



    <div class="container">

        <div class="row text-center" style="display:flex;flex-wrap:wrap">

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="img-thumbnail">
                    <img src="https://images.pexels.com/photos/6714/light-forest-trees-morning.jpg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    <div class="img-caption">
                        <h1>Camp Pike</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="img-thumbnail">
                    <img src="https://images.pexels.com/photos/6714/light-forest-trees-morning.jpg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    <div class="img-caption">
                        <h1>Camp Pike</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="img-thumbnail">
                    <img src="https://images.pexels.com/photos/6714/light-forest-trees-morning.jpg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    <div class="img-caption">
                        <h1>Camp Pike</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="img-thumbnail">
                    <img src="https://images.pexels.com/photos/6714/light-forest-trees-morning.jpg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    <div class="img-caption">
                        <h1>Camp Pike</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">



        <div class="row text-center" style="display:flex;flex-wrap:wrap">


            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="img-thumbnail">
                    <img src="https://images.pexels.com/photos/6714/light-forest-trees-morning.jpg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    <div class="img-caption">
                        <h1>Camp Pike</h1>
                    </div>
                </div>
            </div>


        </div>





        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="img-thumbnail">
                <img src="https://images.pexels.com/photos/176381/pexels-photo-176381.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                <div class="img-caption">
                    <h1>Camp Yolo</h1>
                </div>
            </div>
        </div>






        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="img-thumbnail">
                <img src="https://images.pexels.com/photos/14287/pexels-photo-14287.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                <div class="img-caption">
                    <h1>Camp Steph</h1>
                </div>
            </div>
        </div>






        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="img-thumbnail">
                <img src="https://images.pexels.com/photos/6714/light-forest-trees-morning.jpg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                <div class="img-caption">
                    <h1>Camp Pike</h1>
                </div>
            </div>
        </div>





        <div class="row text-center" style="display:flex;flex-wrap:wrap">


            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="img-thumbnail">
                    <img src="https://images.pexels.com/photos/176381/pexels-photo-176381.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                    <div class="img-caption">
                        <h1>Camp Yolo</h1>
                    </div>
                </div>
            </div>


        </div>





        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="img-thumbnail">
                <img src="https://images.pexels.com/photos/14287/pexels-photo-14287.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                <div class="img-caption">
                    <h1>Camp Steph</h1>
                </div>
            </div>
        </div>






        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="img-thumbnail">
                <img src="https://images.pexels.com/photos/111362/pexels-photo-111362.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350">
                <div class="img-caption">
                    <h1>Camp Doe</h1>
                </div>
            </div>
        </div>



    </div>


</body>
</html>
