<html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/home.css">
<body>
    <h1>McCoy's Movie Search App</h1>
    <form class="text-center" method="post" action="/searchMovie">
        <input type="text" required name="userTitle" placeholder="Title of Movie">
        <button class="btn btn-primary">Search</button>
    </form>
    <p><%=data[0]%></p>
    <%for(var i=0;i<data["Search"].length;++i){%>
    <li><%=data["Search"][i].Title%></li>
    <img src="<%=data["Search"][i].Poster%>">
    <%}%>
</body>
</html>