<html>
<link rel="stylesheet" href="/stylesheets/home.css">
<body>
    <h1>McCoy's Movie Search App</h1>
    <form method="post" action="/searchMovie">
        <input type="text" required name="userTitle">
    </form>
    <p><%=data[0]%></p>
    <%for(var i=0;i<data.length;++i){%>
    <li><%=data["Search"][i].Title%>slkjdfljs</li>
    <p>sdlkfj</p>
    <%}%>
</body>
</html>