
img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.name{
	text-align: center;
	color: white;
}
.position{
	text-align: center;
	color:white;
}
.background{
	background-color: #57BB90;
	margin-top: 0;
}
#navbar{
	margin-bottom: 0px;
	background-color: #6E658B;
}
.navbar-default .navbar-brand {
    color: white !important;
}
.navbar-default .navbar-nav > li > a {
    color: white !important;
}
